name: Release
on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup buildx
              uses: docker/setup-buildx-action@v3
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v2
            - name: Login ghcr.io
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Create metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{ github.repository }}
                  tags: |
                      type=raw,value=latest
                      type=semver,pattern={{version}}
                      type=sha,prefix=,suffix=,format=short
            - name: Push image
              uses: docker/build-push-action@v5
              with:
                  file: Dockerfile
                  context: ./
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  platforms: linux/amd64,linux/arm64
